@import './mixins.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font_inter); //font-family: 'Work Sans', sans-serif;
  // scroll-behavior: smooth;
  ::selection {
    color: #b904048e;
    background-color: #f7cbcb;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
input,
button,
textarea {
  font-family: var(--font_inter); //font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --toastify-color-success: #439f43;
  --toastify-color-error: #b42616;
  --toastify-toast-width: 40rem;
}

:root {
  --shipam-primary-red: #b90404;
  --shipam-red-pale: #b904041a;
  // --dark-purple: #452461;
  // --primary-color: #673692;
  // --light-purple: #e6d4f6;
  // --very-light-purple: #ede7f2;
  // --pale-purple: #9a79b6;
  // --form-field-background: #fbf8fd;
  // --basic-box-shadow: 0.1rem 0.05rem 0.4rem 0.05rem rgba(0, 0, 0, 0.2);
  // --letter-spacing: -0.018216rem;
  // --success-color: #4cd964;
  // --error-color: #ea4335;
}
html {
  width: 100%;
}

body {
  max-width: 190rem;
  margin: auto !important;
}
